* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav {
    padding: 25px 0;
}

header {
    background-color: rgb(214, 132, 38);
}

.list ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.list ul li {
    padding: 10px;
    align-items: center;
    color: white;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
    cursor: pointer;
    font-size: 20px;

}

.list ul li:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: 100px;
}


/*Home Section*/

.home {
    background-image: url(../images/clem-onojeghuo-zlABb6Gke24-unsplash.jpg);
}